/*.fa-angle-up .fa-angle-down .fa-angle-left .fa-angle-right {*/
  /*position: absolute;*/
/*}*/
.up {

  margin-left: 200px;
}
.down {

  margin-left: 200px;
}
.left {

  margin-left: 200px;
}
.right {

  margin-left: 200px;
}